<%= provide(:title, "Events") %>
<h1>All Events</h1>

<ul>
  <% @events.each do |event| %>
    <li><a href="/events/<%= event.id %>"><%= event.description%></a> 
    by <a href="/users/<%= event.creator.id %>"><%= event.creator.username %></a></li>
  <% end %>
</ul>